<div class="md-inline-form" ng-cloak>
    <md-content layout="row" layout-align="center center">
        <md-card md-whiteframe="10" flex>
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools"><h2><span> Login </span></h2></div>
            </md-toolbar>
            <md-card-content layout-padding>
                <form name="login">
                    <md-input-container class="md-block" flex md-no-float>
                        <md-icon md-svg-icon="icons/person_black.svg"></md-icon>
                        <label>Login</label>
                        <input ng-model="user.username" type="text" />
                    </md-input-container>

                    <md-input-container class="md-block" flex>
                        <md-icon md-svg-icon="icons/lock.svg"></md-icon>
                        <label>Password</label>
                        <input ng-model="user.password" type="password" />
                    </md-input-container>

                    <md-card-actions>
                        <section layout="row" layout-align="center">
                            <div class="button-padding">
                                <md-button ng-click="model.login(user)" class="md-raised md-primary">Login</md-button>
                            </div>
                            <div>
                                <md-button class="md-raised md-warn" href="#/register">Register</md-button>
                            </div>
                        </section>
                    </md-card-actions>
                </form>
            </md-card-content>
        </md-card>
    </md-content>
    <footer layout="column" layout-align="end start">
        <md-button class="md-icon-button md-warn" href="../../../../index.html">
            <md-icon md-svg-icon="icons/home.svg" aria-label="profile page"></md-icon>
        </md-button>
    </footer>
</div>