
<div class="overlay-landing">

    <div class="overlay-landing-color"></div>

    <div class="overlay-landing-content">
        <header>
            <md-toolbar style="background-color: rgba(113, 96, 199, 0.64);" md-whiteframe="10">
                <div class="md-toolbar-tools">
                    <a href="#/" ng-if="!model.user">
                        <img width="5%" height="5%" ng-src="http://training.fergflor.k12.mo.us/materials/brandstandards/otherlogos/fft_black.png">
                    </a>
                    <a href="#/{{model.userId}}" ng-if="model.user">
                        <img width="5%" height="5%" ng-src="http://training.fergflor.k12.mo.us/materials/brandstandards/otherlogos/fft_black.png">
                    </a>
                    <span flex></span>
                    <div layout="row" class="header-buttons" ng-show="!model.user">
                        <md-button class="md-raised" href="#/login">
                            <label>Log In</label>
                        </md-button>
                        <md-button class="md-raised" href="#/signup" style="background-color: #ffc800">
                            <label>Sign Up</label>
                        </md-button>
                    </div>
                    <div ng-show="model.user">
                        <md-menu ng-show="model.user" md-offset="40 40">
                            <md-button md-autofocus aria-label="Open menu with custom trigger"
                                       ng-mouseenter="$mdOpenMenu()"
                                       href="#/user/{{model.userId}}"
                                       style="margin-right: 50px;">
                                <md-icon md-svg-icon="icons/face.svg">
                                </md-icon>
                                {{model.user.firstName}}
                            </md-button>
                            <!--<md-button aria-label="Open menu with custom trigger" class="" ng-mouseenter="$mdOpenMenu()"> Test </md-button>-->
                            <md-menu-content direction="down" width="2" ng-mouseleave="$mdMenu.close()">
                                <md-menu-item>
                                    <md-button href="#/user">
                                        <md-icon md-svg-icon="icons/person_black.svg">
                                        </md-icon>Profile
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="model.logout()">
                                        Logout
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
            </md-toolbar>
        </header>


        <div layout="column" flex style="position: relative;top: 100px;">
            <div layout="column" layout-align="center center" flex>

                <md-card style="background-color: rgba(117, 76, 23, 0.31)" md-whiteframe="20">
                    <div layout="column" layout-align="center center" layout-padding>
                        <span style="color: white;" layout="column" layout-align="center center">
                            <h1 class="center-header">FoodForThought</h1>
                        </span>
                        <p class="text-styling"><b>Best places to eat, drink and have fun around you.</b></p>

                        <md-card-actions layout="row" class="card-actions" flex>
                <span style="padding-right: 23px;" flex>

                <md-input-container class="md-block">
                    <label style="font-style: italic;color: white;font-size: 20px">Search me...</label>
                    <input style="color: #ffffff;" ng-model="search.restaurant" type="text">
                </md-input-container>
                    </span>
                            <md-divider></md-divider>
                            <span style="padding-left: 23px;" flex>
                <md-input-container>
                    <label style="font-style: italic;color: white;font-size: 20px">City</label>
                    <input style="color: #ffffff;" type="text" ng-autocomplete="model.city" details="details1" options="options1" placeholder="Default (Home City)">
                </md-input-container>
                    </span>
                            <md-button ng-click="model.searchPlace(search)" class="md-icon-button md-primary" style="margin-top: 15px;" aria-label="search">
                                <md-icon md-svg-icon="icons/search_white.svg"></md-icon>
                            </md-button>
                        </md-card-actions>
                        <div layout="row" style="color: white">

                            <md-button ng-click="model.getFood()" aria-label="restaurants in your location">
                                <img ng-src="icons/food.png" width="40px" height="40px">

                            </md-button>

                            <md-button ng-click="model.getCoffee()" aria-label="coffee in your location">
                                <img ng-src="icons/coffee.png" height="40px" width="40px">

                            </md-button>

                            <md-button ng-click="model.getDrinks()" aria-label="drinks in your location">
                                <img ng-src="icons/drinks.png" height="40px" width="40px">

                            </md-button>
                        </div>

                        <!--<input type="text" ng-autocomplete="model.city" details="details1" options="options1" /><a ng-click="model.show(model.city)"> Show</a>-->

                    </div>
                </md-card>
            </div>
        </div>
    </div>
</div>

