main {
    overflow-y: auto;
}

.card img {
    width: auto;
    height: auto;
    /*display: inline-block;*/
}

.md-sidenav-left{
    width: 450px
}

.createPad{
    padding-top: 13px;
    margin-right: -10px;
    margin-bottom: 55px;
}

.cardActions{
    margin-right: -20px;
    position: relative;
    margin-top: -16px
}

#cardButtonSpace{
    margin-right: -30px;
}