main {
    overflow-y: auto;
    min-height: calc(100vh - 176px);
}

.card img {
    width: auto;
    height: auto;
    /*display: inline-block;*/
}

.md-sidenav-left{
    width: 450px
}

.createPad{
    padding-top: 13px;
    margin-right: -10px;
    margin-bottom: 55px;
}

.cardActions{
    margin-right: -20px;
    position: relative;
    margin-top: -16px;
    right: 35px;
    position: absolute;
}

#cardButtonSpace{
    margin-right: -7px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.body-image{

    /* Location of the image */
    background-image: url(http://www.strategygroupinc.com/images/o-BOSTON-facebook.jpg);

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;

    /* Makes the image fixed in the viewport so that it doesn't move when
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;

    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:#464646;

    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
}

/*background image for mobile screens - responsive*/
@media only screen and (max-width: 767px) {
    .body-image {
        /* The file size of this background image is 93% smaller
         * to improve page load speed on mobile internet connections */
        background-image: url(http://www.strategygroupinc.com/images/o-BOSTON-facebook.jpg);
    }
}

.postAvatar{
    display: block;
    border: 4px solid #3cb;
    border-radius: 50%;
    overflow: hidden;
    width: 90px;
    height: 90px;
    box-shadow: rgba(0,0,0,.2) 0 2px 3px;
    margin-left: 10px;
    margin-top: 20px;
    position: relative;
    bottom: 3px;
}

footer{
    position:fixed;
    bottom:-3px;
    left:0px;
    right:0px;
}

#footer-padding{
    padding-bottom: 50px;
}

.button-padding{
    position: relative;
    right: 20px;
}

.icon-spacing{
    position: relative;
    margin-left: 10px;
    left: 10px;
}

.index-content{
    padding-top: 40px;
    margin-right: 40px;
    margin-bottom: 20px
}

.grid-layout {
  width: 31.333%;
  padding-bottom: 31.333%;
  margin: 1%;
}