main {
    overflow-y: auto;
    min-height: calc(100vh - 176px);
}

.card img {
    width: auto;
    height: auto;
    /*display: inline-block;*/
}

.md-sidenav-left{
    width: 450px
}

.createPad{
    padding-top: 13px;
    margin-right: -10px;
    margin-bottom: 55px;
}

.cardActions{
    margin-right: -20px;
    position: relative;
    margin-top: -16px;
    right: 35px;
    position: absolute;
}

#cardButtonSpace{
    margin-right: -30px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.postAvatar{
    display: block;
    border: 4px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
    box-shadow: rgba(0,0,0,.2) 0 2px 3px;
    margin-left: 10px;
    margin-top: 10px;
}

footer{
    position:fixed;
    bottom:-3px;
    left:0px;
    right:0px;
}

#footer-padding{
    padding-bottom: 50px;
}