<div>
    <header>
        <md-toolbar style="background-color: rgba(41, 38, 140, 0.49);" md-scroll-shrink md-whiteframe="10">
            <div class="md-toolbar-tools">
                <a href="#/" ng-if="!model.userId">
                    <img width="5%" height="5%" ng-src="http://training.fergflor.k12.mo.us/materials/brandstandards/otherlogos/fft_black.png">
                </a>
                <a href="#/{{model.userId}}" ng-if="model.userId">
                    <img width="5%" height="5%" ng-src="http://training.fergflor.k12.mo.us/materials/brandstandards/otherlogos/fft_black.png">
                </a>
                <span flex></span>
            </div>
            <div class="pull-right-name" ng-show="model.user">
                <md-menu ng-show="model.user" md-offset="40 40">
                    <md-button md-autofocus aria-label="Open menu with custom trigger"
                               ng-mouseenter="$mdOpenMenu()"
                               href="#/user/{{model.userId}}"
                               style="margin-right: 50px;">
                        <md-icon md-svg-icon="icons/face.svg">
                        </md-icon>
                        {{model.user.firstName}}
                    </md-button>
                    <!--<md-button aria-label="Open menu with custom trigger" class="" ng-mouseenter="$mdOpenMenu()"> Test </md-button>-->
                    <md-menu-content direction="down" width="2" ng-mouseleave="$mdMenu.close()">
                        <md-menu-item>
                            <md-button href="#/user/{{model.userId}}">
                                <md-icon md-svg-icon="icons/person_black.svg">
                                </md-icon>Profile
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="model.logout()">
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
    </header>

    <md-card layout-padding>
        <h3>Thank you for your order.</h3> <br>
        <span>{{model.restaurantName}} is preparing your order and it should be ready in 20 minutes for pickup.</span>

        <h4>Your Order#: {{model.bill._id}}</h4>
        <span>Name:{{model.bill.name}}</span>
        <ul ng-repeat="order in model.bill.order[0]">
            <li>{{order.name}}<span layout-padding class="pull-right-map">${{order.price}}</span></li>
        </ul>
        <span><strong>Total Amount: </strong><span layout-padding   class="pull-right-map">${{model.bill.total}}</span></span>

    </md-card>

</div>