.header-color{
    background-color: #8596f5;
}

.font-styling{
    font-family: 'Open Sans';
    font-style: italic;
    padding-left: 100px;
}

.center-header{
    font-family: 'Lucida Grande';
}

.header-buttons{
    padding-right: 100px;
}

.margins{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

md-card{
    border-radius: 10px;
}

.login-page{
    text-align:center;
    font-size: 20px;
    font-family: 'Lucida Grande';
    color: #79589f;
}

.register-card{
    margin-left: 400px;
    margin-right: 400px;
}

.card-image:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 51%;
    height: 100%;
    opacity: 0.4;
    background-image: url(../icons/logo.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
    background-attachment: fixed;
}

.landing-image:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 78.7%;
    height: 71.7%;
    opacity: 0.4;
    background-image: url(../icons/804873-food-wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: local;
}

.text-styling{
    position: relative;
    margin-top: -20px;
}

.landing-div{
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
    color: #fff;
}

.body-image{

    /* Location of the image */
    background-image: url(http://shunvmall.com/data/out/109/47823582-high-quality-images.jpg);

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;

    /* Makes the image fixed in the viewport so that it doesn't move when
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;

    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:#464646;
}

.searchbar{
    padding-top: 100px
}