
<!--Formatted-->
<div ng-if="widget.formatted">
    <md-input-container class="md-block">
        <text-angular ng-model="widget.text"></text-angular>
    </md-input-container>
</div>

<!--If not formatted-->
<md-input-container class="md-block">
    {{widget.placeholder}}
    <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
           placeholder="{{widget.placeholder}}"/>
</md-input-container>
<md-input-container class="md-block">
    <textarea ng-if="!widget.formatted && (widget.rows > 1)"
              rows="{{widget.rows}}" placeholder="{{widget.placeholder}}">{{widget.text}}
    </textarea>
</md-input-container>

