<div layout="column" class="md-inline-from md-padding">
    <md-input-container>
        <label>Text</label>
        <input ng-model="model.widget.text" />
    </md-input-container>
    <md-input-container>
        <label>Rows</label>
        <input ng-model="model.widget.rows" />
    </md-input-container>
    <md-input-container>
        <label>Placeholder</label>
        <input ng-model="model.widget.placeholder" type="text" />
    </md-input-container>
    <md-input-container>
        <label>Formatted</label>
        <input ng-model="model.widget.formatted" />
    </md-input-container>
</div>