
<div layout="column" layout-fill>
    <main flex>
        <div class="md-inline-form" layout="column">
            <md-content class="md-padding">
                <div>
                    <md-input-container class="md-block" flex md-no-float>
                        <label>Name</label>
                        <input ng-model="model.widget.name" type="text" />
                    </md-input-container>
                    <md-input-container class="md-block" flex md-no-float>
                        <label>Text</label>
                        <input ng-model="model.widget.text" type="text" />
                    </md-input-container>
                    <md-input-container class="md-block" flex md-no-float>
                        <label>Size</label>
                        <md-select ng-model="model.widget.size">
                            <md-select-label>{{ model.widget.size }}</md-select-label>
                            <md-option ng-repeat="size in model.sizes" ng-value="size">{{size}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-content>
        </div>
    </main>
</div>
