<header>
    <md-toolbar class="md-hue-2" flex md-whiteframe="10">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button md-primary" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <md-icon md-svg-icon="icons/back.svg" aria-label="Go back to page list"></md-icon>
            </md-button>
            <h4>Widgets Edit</h4><span flex></span>
            <span>
                <md-button class="md-icon-button md-primary" ng-click="model.updateWidget(model.widget)">
                    <md-icon md-svg-icon="icons/done.svg" aria-label="save widget"></md-icon>
                </md-button>
            </span>
            <md-button class="md-icon-button md-primary" ng-click="model.deleteWidget()">
                <md-icon md-svg-icon="icons/delete.svg" aria-label="delete widget"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</header>
<md-content>
<div ng-switch="model.widget.widgetType">
    <div ng-switch-when="HEADER">
        <ng-include src="'views/widget/templates/widget-heading.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/templates/widget-image.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/templates/widget-youtube.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="HTML">
        <ng-include src="'views/widget/templates/widget-html.view.client.html'"></ng-include>
    </div>
</div>
</md-content>

<footer class="sticky-footer">
    <md-toolbar class="md-hue-2" md-scroll-shrink>
        <div class="md-toolbar-tools">
            <span flex></span>
            <span><md-button class="md-icon-button md-primary" href="#/user/{{model.userId}}">
                    <md-icon md-svg-icon="icons/person.svg" aria-label="profile"></md-icon>
                </md-button></span>
        </div>
    </md-toolbar>
</footer>