
<div layout="column" layout-fill>
    <main flex>
        <div class="md-inline-form" layout="column">
            <md-content class="md-padding">
                <div>
                    <md-input-container class="md-block" flex md-no-float>
                        <label>Name</label>
                        <input ng-model="model.widget.name" type="text" required/>
                    </md-input-container>
                    <md-input-container class="md-block" flex md-no-float>
                        <label>Text</label>
                        <input ng-model="model.widget.text" type="text" />
                    </md-input-container>
                    <md-input-container class="md-block" flex md-no-float>
                        <label>URL</label>
                        <input ng-model="model.widget.url" type="text" />
                    </md-input-container>
                    <md-input-container class="md-block" flex md-no-float>
                        <label>Width</label>
                        <input ng-model="model.widget.width" type="text" />
                    </md-input-container>
                </div>
            </md-content>
        </div>
    </main>

</div>
