<header>
    <md-toolbar class="md-hue-2" flex>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button md-primary" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <md-icon md-svg-icon="icons/back.svg"></md-icon>
            </md-button>
            <h4>Widgets </h4><span flex></span>
            <span>
                <md-button class="md-icon-button md-primary"
                           href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                    <md-icon md-svg-icon="icons/create.svg"></md-icon>
                </md-button></span>
        </div>
    </md-toolbar>
</header>

<md-content>
    <div layout="column" layout-fill>

        <!--Widgets-->

        <main flex>
            <md-content class="md-inline-form" layout-padding flex>
                <div layout="row" flex>
                    <div   layout="column" flex>

                        <md-card ng-repeat="widget in model.widgets" ng-switch on="widget.widgetType">

                            <md-card-content layout="row" layout-align="space-between">

                                <div ng-switch-when="HEADER">
                                    <h1 ng-if="widget.size===1">{{widget.text}}</h1>
                                    <h2 ng-if="widget.size===2">{{widget.text}}</h2>
                                    <h3 ng-if="widget.size===3">{{widget.text}}</h3>
                                    <h4 ng-if="widget.size===4">{{widget.text}}</h4>
                                    <h5 ng-if="widget.size===5">{{widget.text}}</h5>
                                    <h6 ng-if="widget.size===6">{{widget.text}}</h6>
                                </div>
                                <div ng-switch-when="IMAGE">
                                    <span flex><img ng-src="{{widget.url}}" ng-style="{ width : widget.width}"></span>
                                </div>
                                <div ng-switch-when="YOUTUBE">
                                <span flex><iframe ng-src="{{model.safeYoutube(widget)}}" ng-style="{ width : widget.width}"
                                                   frameborder="0"
                                                   allowfullscreen>

                                </iframe>
                                </span>
                                </div>

                                <md-card-actions class="cardActions">
                                <span id="cardButtonSpace">
                                    <md-button class="md-icon-button md-primary" href="widget-heading.html" aria-label="Settings">
                                        <md-icon md-svg-icon="icons/settings.svg"></md-icon>
                                    </md-button>
                                    </span>
                                    <md-button class="md-icon-button md-primary" aria-label="Drag">
                                        <md-icon md-svg-icon="icons/menu_black.svg"></md-icon>
                                    </md-button>
                                </md-card-actions>
                            </md-card-content>
                        </md-card>

                    </div>
                </div>
            </md-content>
        </main>



    </div>
</md-content>
<footer class="sticky-footer">
    <md-toolbar class="md-hue-2" md-scroll-shrink>
        <div class="md-toolbar-tools">
            <span flex></span>
            <span><md-button class="md-icon-button md-primary" href="#/user/{{model.userId}}">
                    <md-icon md-svg-icon="icons/person.svg"></md-icon>
                </md-button></span>
        </div>
    </md-toolbar>
</footer>