<header>
    <md-toolbar class="md-hue-2" flex md-whiteframe="10">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button md-primary" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <md-icon md-svg-icon="icons/back.svg" aria-label="Go back to page list"></md-icon>
            </md-button>
            <h4>Widgets </h4><span flex></span>
            <span>
                <md-button class="md-icon-button md-primary"
                           href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                    <md-icon md-svg-icon="icons/create.svg" aria-label="createWidget"></md-icon>
                </md-button></span>
        </div>
    </md-toolbar>
</header>

<md-content>
    <div layout="column" layout-fill>
        <main flex>
            <md-content class="md-inline-form" layout-padding flex>
                <div layout="row" flex>
                    <div id="footer-padding" layout="column" flex>

                        <div class="widget-list" wbdv-sortable="">
                            <md-card ng-repeat="widget in model.widgets" ng-switch on="widget.widgetType">
                                <md-card-content layout="row" layout-align="space-between">

                                    <div ng-switch-when="HEADER">
                                        <ng-include src="'views/widget/templates/widgets/widget-HEADER.view.client.html'">
                                        </ng-include>
                                    </div>

                                    <div ng-switch-when="IMAGE">
                                        <ng-include src="'views/widget/templates/widgets/widget-IMAGE.view.client.html'">
                                        </ng-include>
                                    </div>

                                    <div ng-switch-when="YOUTUBE">
                                        <ng-include src="'views/widget/templates/widgets/widget-YOUTUBE.view.client.html'">
                                        </ng-include>
                                    </div>

                                    <div ng-switch-when="HTML">
                                        <ng-include src="'views/widget/templates/widgets/widget-HTML.view.client.html'">
                                        </ng-include>
                                    </div>
                                    <!--Card actions-->
                                    <md-card-actions class="cardActions">
                                    <span id="cardButtonSpace">
                                    <md-button class="md-icon-button md-primary"
                                               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"
                                               aria-label="Settings">
                                        <md-icon md-svg-icon="icons/settings.svg"></md-icon>
                                    </md-button>
                                    </span>
                                        <md-icon style="margin-right: 19px;" md-svg-icon="icons/menu_black.svg"></md-icon>
                                    </md-card-actions>
                                </md-card-content>

                            </md-card>
                        </div>
                    </div>
                </div>
            </md-content>
        </main>
    </div>
</md-content>

<footer>
    <md-toolbar class="md-hue-2" md-scroll-shrink md-whiteframe="10">
        <div class="md-toolbar-tools">
            <div>
                <md-icon md-svg-icon="icons/play.svg" aria-label="profile"></md-icon>
                <md-icon md-svg-icon="icons/eye.svg" aria-label="profile"></md-icon>
            </div>
            <span flex></span>
            <span><md-button class="md-icon-button md-primary" href="#/user/{{model.userId}}">
                    <md-icon md-svg-icon="icons/person.svg" aria-label="profile"></md-icon>
                </md-button></span>
        </div>
    </md-toolbar>
</footer>