
<div layout="column" layout-fill>
    <main flex>
        <div class="md-inline-form" layout="column">
            <md-content class="md-padding">
                <div>
                    <md-input-container class="md-block" flex md-no-float>
                        <label>Name</label>
                        <input ng-model="model.widget.name" type="text" />
                    </md-input-container>
                    <md-input-container class="md-block" flex md-no-float>
                        <label>Text</label>
                        <!--<input ng-model="model.widget.text" type="text" />-->
                        <textarea ng-model="model.widget.text" rows="4"></textarea>
                    </md-input-container>
                </div>
            </md-content>
        </div>
    </main>
</div>
