<div>
    <header>
        <md-toolbar style="background-color: rgba(41, 38, 140, 0.49);" md-scroll-shrink md-whiteframe="10">
            <div class="md-toolbar-tools">
                <a href="#/" ng-if="!model.userId">
                    <img width="5%" height="5%" ng-src="http://training.fergflor.k12.mo.us/materials/brandstandards/otherlogos/fft_black.png">
                </a>
                <a href="#/{{model.userId}}" ng-if="model.userId">
                    <img width="5%" height="5%" ng-src="http://training.fergflor.k12.mo.us/materials/brandstandards/otherlogos/fft_black.png">
                </a>
                <span flex></span>
                <md-button ng-click="model.logout()">
                    Logout
                </md-button>
            </div>
        </md-toolbar>
    </header>

<!--Profile-->
    <md-card style="height:60%;margin-top: 20px;font-family: 'Sansita', sans-serif;">
        <md-card-content>
            <div layout="row" layout-padding>

                <div layout="column">
                    <!--model.avatar shows the first char of firstName and the first of lastName-->
                    <div layout="column" layout-align="center center" class="postAvatar">
                        <h1 style="font-size: 50px;left: 25px; bottom: 10px; position: relative;">{{model.avatar}}</h1>
                    </div>
                    <h1>
                        {{model.user.firstName}} {{model.user.lastName}}
                    </h1>
                    <p>{{model.user.email}} <br>
                        {{model.city}}</p>
                </div>

                <span flex></span>

                <div layout="column">
                    <ng-map style="height:100%; width:400px;" center="[{{model.lat}}, {{model.long}}]">
                    </ng-map>
                </div>
            </div>
        </md-card-content>
        <md-card-actions>
            <md-button class="md-icon-button" href="#/user/{{model.userId}}/edit" aria-label="edit profile">
                <md-icon md-svg-icon="icons/create_black.svg">
                </md-icon>
            </md-button>
            <md-button ng-show="model.user.roles != 'ADMIN'" class="md-icon-button" ng-click="model.deleteUser()" aria-label="edit profile">
                <md-icon md-svg-icon="icons/delete_black.svg">
                </md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-show="model.user.roles == 'ADMIN'" href="#/admin" aria-label="admin page">
                <md-icon md-svg-icon="icons/person_black.svg">
                </md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
    <!--Favourites-->
    <md-card style="font-family: 'Sansita', sans-serif;">
        <md-card-content layout="row" layout-padding>
            <div flex layout="column">
                <md-list>
                    <strong>Your Favourites</strong>
                    <md-list-item ng-repeat="favorite in model.user.favourites">
                        <md-divider></md-divider>
                        <a href="#/details/{{favorite.id}}/user/{{model.userId}}">{{favorite.restaurantName}}</a>
                        <md-button ng-click="model.removeFavorite(favorite)" class="pull-right-map" aria-label="remove favorite"><md-icon md-svg-icon="./icons/delete_black.svg"></md-icon></md-button>
                    </md-list-item>
                </md-list>
            </div>
            <md-divider></md-divider>
            <div layout-padding flex>
                <strong>Your Reviews</strong><br>
                <div layout="column" ng-repeat="review in model.reviews">
                    @{{review.restaurantName}}
                    <i>{{review.review}}</i>
                    <br>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <md-card style="font-family: 'Sansita', sans-serif;">
        <md-card-content layout="row" layout-padding>
            <div flex layout="column">
                <md-list>
                    <strong>People whom you follow:</strong>
                    <md-list-item ng-repeat="userFollow in model.userFollows">

                        <span>{{userFollow.firstName}} {{userFollow.lastName}}</span>
                        <!--If the user doesn't follow anyone-->
                        <span ng-show="model.noFollows">None</span>
                        <md-button class="pull-right-map"
                                   ng-show="model.alreadyFollows == true"
                                   ng-click="model.unFollowUser(userFollow)">
                            <!--<md-icon md-svg-icon="icons/face_happy.svg">-->
                            <!--</md-icon>-->
                            <div class="following">Unfollow</div>
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>
            <md-divider></md-divider>
                <div flex layout="column" ng-repeat="userFollow in model.userFollows">
                <md-list>
                    <strong>People who follow you:</strong>
                    <md-list-item ng-repeat="userFollowedBy in model.userFollowedBy">
                        <md-divider></md-divider>
                        {{userFollowedBy.firstName}} {{userFollowedBy.lastName}}
                        <!--If the user is not followed by anyone-->
                        <span ng-show="model.noFollowedBy"> {{model.noFollowedBy}} None</span>

                    </md-list-item>
                </md-list>
                </div>

        </md-card-content>
    </md-card>


</div>